ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}
li{
    /* display: inline; */
    /* display: inline-block; */
    float: left;
    padding: 10px;
    color: white;
}
li a{
    text-decoration: none;
    color: white;
}
li:hover{
    background-color: #111;
}
.myClass{
    display: flex;
    justify-content:space-between;
    border:1px solid red;
}

