<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap</title>
    <link rel="stylesheet" href="./css/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <!-- grid  system -->
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center" style="height: 500px;">
        <div class="col-6  col-sm-4 col-md-3 col-lg-2 col-xl-5 border ">
            <img src="./images/bg-1.jpg" class="w-100" alt="">
        </div>
        <div class="col-6  col-sm-4 col-md-3 col-lg-2 col-xl-5 border ">
            Hello World
        </div>
      </div>
    </div>

    <!-- grid  system -->
  </body>
</html>
