<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap</title>
    <link rel="stylesheet" href="./css/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <ul>
        <li class="d-inline-block"> Home</li>
        <li class="d-inline-block">
            Home
        </li>
        <li class="d-inline-block">
            Home
        </li>
    </ul>
    <h1 class="bg-primary  text-warning ">Hello Wolrd </h1>
    <h1 class="bg-dark bg-gradient text-white">Hello Wolrd</h1>
    <h1 class="bg-secondary text-white ">Hello Wolrd</h1>
    <h1 class="bg-danger border  border-dark text-center text-white rounded-pill w-25 border-5 m-auto text-dark ">Hello
        Wolrd</h1>
    <h1 class="bg-success text-info bg-opacity-10">Hello Wolrd</h1>
    <div class="d-inline">
        Rahul Dravid
    </div>
    <div class="d-inline">
        Ragul Gupta
    </div>
    <script src="./css/bootstrap/js/bootstrap.js"></script>
</body>

</html>